* {
    box-sizing: border-box;
  }
  
  body {
    background: lightgray;
  }
  
  h1 {
    text-align: center;
  }
  
  /* FORM */
  form {
    background-color: #fff;
    width: 400px;
    margin: auto;
    padding: 10px;
  }
  
  input, label {
    width: 100%;
  }
  
  input[type="radio"], input[type="checkbox"] {
    width: auto;
  }
  .group {
    margin-bottom: 20px;
  }
  
  p {
    font-weight: 900;
  }